body {
   font-family: georgia;
}

header {
 display: flex;
 flex-direction: column;
}

#eyebrow {
  font-weight: bold;
  font-size: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 15px;
  padding: 5px 5px;
  margin: 0;
  border-bottom: 1px solid #cedaf3;
}

#eyebrow a {
  text-decoration: none;
  color: #1d3994;
  height: 100%;
  margin: 0;
  padding: 0;
}

#eyebrow ul {
  display: flex;
  list-style-type: none;
  height: 100%;
  margin: 0;
  padding: 0;
}

#eyebrow li {
  border-right: 1px solid #cedaf3;
  margin: 0;
  padding: 0;
  margin-right: 8px;
  padding-right: 8px;
  height: 100%;
}

#eyebrow .li-short {
  border: none;
  margin-right: 0;
  padding-right: 0;
  height: 100%;
}

#masthead {
  font-weight: bold;
  line-height: 1;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 80px;
  padding: 1px 5px;
  margin: 0;
  border-bottom: 1px solid #cedaf3;
}

#masthead h1 {
  background-position: center;
  display: block;
  color: #1d3994;
  font-size: 80px;
  margin:0;
  margin-left: 200px;
  padding:0;
}

#masthead h1 a {
  color: #1d3994;
  display: block;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.left-masthead {
  display: block;
}

#masthead ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  border: 0;
  margin: 0;
}

#masthead a {
  color: #1d3994;
  display: block;
  text-decoration: none;
  margin: 0 4px;
  padding: 0 4px;
}

#masthead nav {
  margin-left:40px;
}
