<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Merlin's Ghast</title>

<link rel="stylesheet" type="text/css" href="https://merlins-ghast.neocities.org/style.css" media="all">
<link rel="icon" type="image/x-icon" href="https://merlins-ghast.neocities.org/Assets/soot-sprite.gif">

<style>@media (min-width: 601px){body {display:grid; grid-template-columns: 2fr 2fr 2fr 2fr;} .header-footer--wide-layout {grid-column: 1 / span 4;}}
</style>

</head>
<body>
<!-- ######################################################################################################################################### -->
<div class="header-footer--wide-layout">
<img src="https://merlins-ghast.neocities.org/Assets/merlins-ghast-short-banner.png" alt="site banner" style="width:100%;">
</div>
<div class="header header-footer--wide-layout global--spacing">
<p id="topper"><strong> Main Menu</strong></p>
<img id="computer" src="https://merlins-ghast.neocities.org/Assets/wide-button-love-computer.gif" alt="Button says i love my computer">
<nav class="header-nav">
  <div><a id="sootie-lit" href="https://merlins-ghast.neocities.org/"><img id="sootie" src="https://merlins-ghast.neocities.org/Assets/soot-sprite.gif" alt="Soot Sprite Gif"></a></div>
  <ul>
    <li><a href="https://merlins-ghast.neocities.org/">Merlin's Ghast</a></li>
    <li><a href="https://merlins-ghast.neocities.org/Blogs/blogs">Blogs</a></li>
    <li><a href="https://merlins-ghast.neocities.org/Academic/academic">Academic</a></li>
    <li><a href="https://merlins-ghast.neocities.org/Practical/practical">Practical</a></li>
    <li><a href="https://merlins-ghast.neocities.org/Review/review">Review</a></li>
    <li><a href="https://merlins-ghast.neocities.org/Various/various">Various</a></li>
    <li><a href="https://merlins-ghast.neocities.org/Special/special">Special</a></li>
  </ul>
  
</nav> <!-- header nav end -->

</div> <!-- header end -->

<!-- ######################################################################################################################################### -->
<div class="column__left columns--spacing global--spacing">

<p>
  <strong>Merlin's Ghast</strong>
</p>

<nav>
<a href=""></a>
</nav>

</div> <!-- column__left end -->

<!-- ######################################################################################################################################### -->

<div class="column__center columns--spacing global--spacing">

<h2>Microblog</h2>      
<div class="microblog microblog--tall">
<p>Microblog text.</p>
</div>

</div> <!-- column__center end -->
<!-- ######################################################################################################################################### -->
<div class="column__right columns--spacing global--spacing">

<h2>Microblog</h2>      
<div class="microblog microblog--tall">
<p>Microblog text.</p>
</div>

</div> <!-- column__right end -->
<!-- ######################################################################################################################################### -->

<div class="column__center columns--spacing global--spacing">

<h2>Microblog</h2>      
<div class="microblog microblog--tall">
<p>Microblog text.</p>
</div>

</div> <!-- column__center end -->
<!-- ######################################################################################################################################### -->
<div class="footer header-footer--wide-layout global--spacing">
<a href="https://merlins-ghast.neocities.org/"><img id="candy" src="https://merlins-ghast.neocities.org/Assets/star-candy-jar.webp" alt="Image of Candy Jar"></a>
<p> <strong>Contact me via gmail: CheerPoasting</strong> <a href="https://merlins-ghast.neocities.org/Various/code"><img id="code" src="https://merlins-ghast.neocities.org/Assets/button-code-by-hand.gif" alt="Button says code by hand"></a> </p>


</div> <!-- footer end -->

</body>
</html>
