<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Merlin's Ghast</title>

<link rel="stylesheet" type="text/css" href="https://merlins-ghast.neocities.org/style.css" media="all">
<link rel="icon" type="image/x-icon" href="https://merlins-ghast.neocities.org/Assets/soot-sprite.gif">

</head>
<body>
<!-- ######################################################################################################################################### -->
<div class="header-footer--wide-layout">
<img src="https://merlins-ghast.neocities.org/Assets/merlins-ghast-short-banner.png" alt="site banner" style="width:100%;">
</div>
<div class="header header-footer--wide-layout global--spacing">
<p id="topper"><strong> Main Menu</strong></p>
<img id="computer" src="https://merlins-ghast.neocities.org/Assets/wide-button-love-computer.gif" alt="Button says i love my computer">
<nav class="header-nav">
  <div><a id="sootie-lit" href="https://merlins-ghast.neocities.org/"><img id="sootie" src="https://merlins-ghast.neocities.org/Assets/soot-sprite.gif" alt="Soot Sprite Gif"></a></div>
  <ul>
    <li><a href="https://merlins-ghast.neocities.org/">Merlin's Ghast</a></li>
    <li><a href="https://merlins-ghast.neocities.org/Blogs/blogs">Blogs</a></li>
    <li><a href="https://merlins-ghast.neocities.org/Academic/academic">Academic</a></li>
    <li><a href="https://merlins-ghast.neocities.org/Practical/practical">Practical</a></li>
    <li><a href="https://merlins-ghast.neocities.org/Review/review">Review</a></li>
    <li><a href="https://merlins-ghast.neocities.org/Various/various">Various</a></li>
    <li><a href="https://merlins-ghast.neocities.org/Special/special">Special</a></li>
  </ul>
  
</nav> <!-- header nav end -->

</div> <!-- header end -->
<!-- ######################################################################################################################################### -->
<div class="column__left columns--spacing global--spacing">

<p>
  <strong>Merlin's Ghast</strong>
</p>

<nav>
<a href=""></a>
</nav>

</div> <!-- column__left end -->

<!-- ######################################################################################################################################### -->

<div class="column__center columns--spacing global--spacing">
<h1> Page Title </h1>

<table class="biographical-table">
<tr class="biographical-table">
  <th class="biographical-table">Author</th>
  <th class="biographical-table">Title</th>
  <th class="biographical-table">Edition</th>
  <th class="biographical-table">Year</th>
</tr>
<tr class="biographical-table">
  <td class="biographical-table"></td>
  <td class="biographical-table"></td>
  <td class="biographical-table"></td>
  <td class="biographical-table"></td>
</tr>
</table>

<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ullamcorper ipsum tortor, vestibulum rhoncus quam pellentesque vel. In sed orci sed tellus sodales feugiat. Vivamus lectus nulla, euismod eu viverra a, gravida malesuada arcu. Vestibulum pulvinar auctor faucibus. Maecenas efficitur metus sem, at molestie orci porta eget. Nullam mattis, est sit amet consequat placerat, ligula orci maximus justo, ut imperdiet diam lacus et turpis. Duis eget sapien eu neque condimentum ornare. Sed nec orci lorem. Praesent sed commodo dolor. Donec ornare consequat tellus, a dapibus arcu aliquet sit amet. Cras sagittis a purus at convallis. Mauris turpis eros, cursus a ligula a, consequat posuere dui. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam finibus, dolor sit amet accumsan porta, massa eros blandit turpis, vitae volutpat lectus nisi sit amet metus. Ut ac odio turpis. Phasellus eget varius ex.
</p>
      <table>
      <tr>
        <th></th>
        <th>A</th>
        <th>B</th>
      </tr>
      <tr>
        <th>1</th>
        <td>this is kinda long</td>
        <td>1B</td>
      </tr>
      <tr>
        <th>2</th>
        <td>2A</td>
        <td>2B</td>
      </tr>
      </table>
<p>
Ut a justo varius, sollicitudin leo et, laoreet dolor. Aenean ullamcorper metus ipsum, a vulputate metus feugiat sit amet. Vestibulum sed nibh ipsum. Etiam efficitur tortor quis magna viverra ultricies. Fusce ornare ex in consequat lacinia. Praesent accumsan pretium mauris, non dictum orci. Donec facilisis nunc eu mauris pretium, ac lacinia orci mattis. Ut non ullamcorper erat. Donec sollicitudin rutrum rhoncus. Aliquam condimentum, purus ac cursus pulvinar, felis est aliquet quam, non facilisis ante lorem eget massa. Fusce dignissim iaculis ultrices. In hac habitasse platea dictumst. Sed vehicula, quam vel consectetur accumsan, elit diam pretium nulla, sit amet euismod tellus mi in est. Suspendisse tincidunt, ex non vulputate dignissim, felis est maximus ante, eget imperdiet odio mauris nec mi. Nulla ut dui porttitor, luctus massa sagittis, venenatis purus. Aliquam porta risus lectus, quis porttitor nunc mollis id.
</p>
      <dl>
      <dt>Term.</dt>
      <dd>Defintion.</dd>
      </dl>
<p>
Suspendisse et lacinia purus. Cras neque odio, venenatis eget mi ac, suscipit sagittis ipsum. Curabitur nec nisi rhoncus, laoreet dolor id, laoreet magna. Phasellus pellentesque nisi vitae lorem dapibus, nec cursus magna ullamcorper. Sed convallis mauris felis. Nam malesuada scelerisque quam, id vulputate est imperdiet a. Aenean sit amet rhoncus tortor, et congue leo. Vestibulum in sapien elit.
</p><div class="blogbox">
<p>Pellentesque vel fermentum augue, a convallis tellus. In hac habitasse platea dictumst. Praesent porttitor, justo at suscipit iaculis, ipsum tellus imperdiet arcu, a gravida leo tortor in urna. Morbi id odio interdum, scelerisque ex vel, tristique libero. Curabitur molestie nulla at lobortis finibus. Integer sodales orci ut lectus blandit hendrerit. Aenean mollis luctus dui id congue. Duis faucibus metus a congue vehicula. Phasellus eget mollis lorem, tincidunt hendrerit nisl. Proin lobortis tempor maximus. Curabitur ultrices mauris arcu. Sed quis ullamcorper dolor, mattis elementum mi. Donec ac turpis tincidunt nulla imperdiet accumsan vitae vitae odio.</p>
</div>
      <ul>
        <li>List Item.</li>
      </ul>
<p>
In eleifend rutrum pellentesque. Mauris risus lorem, commodo id ipsum id, molestie eleifend libero. Nullam placerat nibh ac massa efficitur fringilla. Vestibulum fringilla erat in ipsum facilisis, ut maximus nisl mollis. Duis suscipit tortor id nisi viverra finibus. Cras ut ipsum ante. Ut massa tortor, pellentesque sit amet libero vitae, tincidunt facilisis mi. Morbi nulla nisl, mattis at volutpat in, sollicitudin sit amet dolor. Mauris maximus metus a dictum cursus. Morbi at sem vitae nibh mattis pretium.</p>

      <ol>
        <li>List Item.</li>
      </ol>
      

</div> <!-- column__center end -->
<!-- ######################################################################################################################################### -->
<div class="column__right columns--spacing global--spacing">
      <h2>Microblog</h2>      
      <div class="microblog">
      <p>Microblog text.</p>
      </div>
</div> <!-- column__right end -->
<!-- ######################################################################################################################################### -->
<div class="footer header-footer--wide-layout global--spacing">
<a href="https://merlins-ghast.neocities.org/"><img id="candy" src="https://merlins-ghast.neocities.org/Assets/star-candy-jar.webp" alt="Image of Candy Jar"></a>
<p> <strong>Contact me via gmail: CheerPoasting</strong> <a href="https://merlins-ghast.neocities.org/Various/code"><img id="code" src="https://merlins-ghast.neocities.org/Assets/button-code-by-hand.gif" alt="Button says code by hand"></a> </p>


</div> <!-- footer end -->

</body>
</html>
