<!DOCTYPE html>
<html lang="en-US">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Merlin's Ghast</title>

<link rel="stylesheet" type="text/css" href="https://merlins-ghast.neocities.org/style.css" media="all">
<link rel="icon" type="image/x-icon" href="https://merlins-ghast.neocities.org/Assets/soot-sprite.gif">

</head>
<body>
<!-- ######################################################################################################################################### -->
<header class="triple-wide" style="margin:10px;">
<img src="https://merlins-ghast.neocities.org/Assets/merlins-ghast-short-banner.png" alt="site banner" style="width:100%;">
</header>
<nav class="header triple-wide global--spacing">
<p id="topper"><strong> Main Menu</strong></p>
<img id="computer" src="https://merlins-ghast.neocities.org/Assets/wide-button-love-computer.gif" alt="Button says i love my computer">
<div class="header-nav">
  <a id="sootie-lit" href="https://merlins-ghast.neocities.org/"><img id="sootie" src="https://merlins-ghast.neocities.org/Assets/soot-sprite.gif" alt="Soot Sprite Gif"></a>
  <ul>
    <li><a href="https://merlins-ghast.neocities.org/">Merlin's Ghast</a></li>
    <li><a href="https://merlins-ghast.neocities.org/Blogs/blogs">Blogs</a></li>
    <li><a href="https://merlins-ghast.neocities.org/Academic/academic">Academic</a></li>
    <li><a href="https://merlins-ghast.neocities.org/Practical/practical">Practical</a></li>
    <li><a href="https://merlins-ghast.neocities.org/Various/various">Various</a></li>
    <li><a href="https://merlins-ghast.neocities.org/Review/review">Review</a></li>
    <li><a href="https://merlins-ghast.neocities.org/Special/special">Special</a></li>
  </ul>
  </div><!-- inner nav end -->
</nav> <!-- header nav end -->

<!-- ######################################################################################################################################### -->
<aside class="column__left  global--spacing">
<p>
  <strong>Merlin's Ghast</strong>
</p>

<nav>
<a href=""></a>
</nav>
</aside> <!-- column__left end -->

<!-- ######################################################################################################################################### -->

<main class="column__center  global--spacing double-wide">
<h1> Page Title </h1>


<table class="biographical-table">
<thead>
  <tr>
    <th>Author</th>
    <th>Title</th>
    <th>Edition</th>
    <th>Year</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</tbody>
</table>


<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ullamcorper ipsum tortor, vestibulum rhoncus quam pellentesque vel. In sed orci sed tellus sodales feugiat.
</p>

<table>
<thead>
  <tr>
    <th></th>
    <th>A</th>
    <th>B</th>
  </tr>
</thead>
<tbody>
  <tr>
    <th>1</th>
    <td>this is kinda long</td>
    <td>1B</td>
  </tr>
  <tr>
    <th>2</th>
    <td>2A</td>
    <td>2B</td>
  </tr>
</tbody>
</table>

<p>
Ut a justo varius, sollicitudin leo et, laoreet dolor. Aenean ullamcorper metus ipsum, a vulputate metus feugiat sit amet. Vestibulum sed nibh ipsum. Etiam efficitur tortor quis magna viverra ultricies.
</p>
      <dl>
      <dt>Term.</dt>
      <dd>Defintion.</dd>
      </dl>
<p>
Suspendisse et lacinia purus. Cras neque odio, venenatis eget mi ac, suscipit sagittis ipsum. Curabitur nec nisi rhoncus, laoreet dolor id, laoreet magna. Phasellus pellentesque nisi vitae lorem dapibus, nec cursus magna ullamcorper. 
</p><div class="blogbox">
<p>Pellentesque vel fermentum augue, a convallis tellus. In hac habitasse platea dictumst. Praesent porttitor, justo at suscipit iaculis, ipsum tellus imperdiet arcu, a gravida leo tortor in urna. Morbi id odio interdum, scelerisque ex vel, tristique libero.</p>
</div>
      <ul>
        <li>List Item.</li>
      </ul>
<p>
In eleifend rutrum pellentesque. Mauris risus lorem, commodo id ipsum id, molestie eleifend libero. Nullam placerat nibh ac massa efficitur fringilla. </p>

      <ol>
        <li>List Item.</li>
      </ol>
      

</main> <!-- column__center end -->
<!-- ######################################################################################################################################### -->
<footer class="footer triple-wide global--spacing">
<a href="https://merlins-ghast.neocities.org/"><img id="candy" src="https://merlins-ghast.neocities.org/Assets/star-candy-jar.webp" alt="Image of Candy Jar"></a>
<p> <strong>Contact me via gmail: CheerPoasting</strong> <a href="https://merlins-ghast.neocities.org/Various/code"><img id="code" src="https://merlins-ghast.neocities.org/Assets/button-code-by-hand.gif" alt="Button says code by hand"></a> </p>


</footer> <!-- footer end -->

</body>
</html>
