<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Merlin's Ghast</title>
  
  <link href="https://merlins-ghast.neocities.org/stylesheets/snippets/pills.css" rel="stylesheet" type="text/css" media="all">
    <link href="https://merlins-ghast.neocities.org/stylesheets/snippets/blue-header.css" rel="stylesheet" type="text/css" media="all">
  <link rel="icon" type="image/x-icon" href="https://merlins-ghast.neocities.org/assets/icons/item-cellphone.gif">
  
  <style>
  </style>
</head>
<body>


<!-- -->
<header class="blue-header">
  <div id="eyebrow">
  <a href="https://merlins-ghast.neocities.org/">Home</a>
  <a href="https://merlins-ghast.neocities.org/about/about">About the Ghast</a>
  </div>
  <h1><span id="top" class="title-pill">Header</span></h1>
</header>


<!-- -->
<main>
<h2 class="title-bar title-bar-no-top">First</h2>


</main>


<!-- -->
<footer class="blue-footer">
<a href="">&lt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Previous</a>&nbsp;|&nbsp;<a href="#top">Return to Top</a>&nbsp;|&nbsp;<a href="">Next&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&gt;</a>
</footer>
</body>
</html>